<h1 class="title">About Us</h1>


<div class="body-overlay">
    <div class="container">
        <div>Andy is a fledging Ruby on Rails developer, hoping to find frontend or fullstack work. He made a couple of cool websites, like this one.</div>
        <br><br>
        <div class="link">
            <%= link_to "â† Back to Homepage", root_path %>  
        </div>
    </div>
</div>